@charset "UTF-8";
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#comments {
  margin-top: 20px;
}

#comment-list {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#comment-form {
  border: 1px solid #ccc;
  padding: 10px;
}

.comment-item {
  margin-bottom: 10px;
}

.comment-item p {
  margin: 0;
}

.comment-item button {
  margin-left: 10px;
}

h1, h2 {
  font-family: Arial, sans-serif;
}

input, textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

#submit-btn {
  background-color: #959595;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #959595;
}
.sidebar .blogmenu li a {
  display: none;
}

.sidebar.open .blogmenu li a {
  display: block;
}
.sidebar .nav-list #come_in, .sidebar .nav-list #btm_design {
  display: none;
}

.sidebar.open .nav-list #come_in, .sidebar.open .nav-list #btm_design  {
  display: block;
}

#come_in  {
  text-align: left;
  color: #959595;
  padding-bottom: 30px;
}
.sidebar .blogmenu .bx-bell {
  display: none;
}

.sidebar.open .blogmenu li i {
  font-size: 15px;
}
.sidebar.open .blogmenu .bx-bell {
  display: block;
}

.sidebar.open .fa-github{
  font-size: 12px;
}
.sidebar .nav-list #alarm{
  display: flex;
}
.sidebar .nav-list .links_name{
  display: none;
}

.sidebar.open .nav-list .links_name{
  display: inline;
}

.sidebar .nav-list  #alarm a{
  display: none;
}

.sidebar.open .nav-list  #alarm a{
  display: block;
}

.cate-show.show a{
  font-size: 14px;
  border-bottom: 1px solid #959595;
}
#scroll-to-top {
  display: block;
  position: fixed;
  font-size: 21px;
  bottom: 0px;
  right: 0%;
  opacity: 0;
  z-index: 99;
  text-align: center;
  transform: translateY(10%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
@media (max-width: 600px) {
  #scroll-to-top {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  #scroll-to-top {
    right: 5%;
    bottom: 15px;
  }
}
#scroll-to-top :last-child {
  transition: transform 0.7s ease-in-out;
}

#scroll-to-top span {
  cursor: pointer;
  color: rgba(26, 29, 36, 0.2470588235);
}
#scroll-to-top span:hover .circle, #scroll-to-top span:active .circle {
  color: #1a1d24;
}






.thumbnail img{
  width: 200px;
  height: 200px;
}
@media (min-width: 600px) {
  .post {
    height: 18rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    border-top-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-bottom: 0px;
    border-color: rgb(230 230 233);
   
}
}
.post .description p{
  max-height: 4rem;
  overflow: hidden;
}
.post .description {
  row-gap: 0.5rem;
  display: grid;
}
.post {
  text-align: left;
  display: flex;
  row-gap: 1rem;
}
 #title {
  font-family: 'Noto Sans KR', sans-serif;
}
.sidebar .logo-details .rightbar{
  text-align: right;
}
.siderbar .logo-details {
  height: 100px;;
}
.sidebar .logo-details img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background : #DEDEDE;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .bx-spa ,.sidebar .logo-details .profileimage ,.sidebar .logo-details .blogname ,.sidebar .logo-details .blognickname{
  display: none;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: none;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .bx-spa, .sidebar.open .logo-details , .sidebar.open .profileimage , .sidebar.open .logo-details .blognickname , .sidebar.open .logo-details .blogname{
  display: block;
}
.sidebar .logo-details #btn {
  position: relative;
  top: 20px;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar .nav-list #catelist .fa-angle-right{
  position:absolute;
  right: 0px;
}
.sidebar i {
  color: #959595;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  line-height: 60px;
}

.fa-caret-down {
  pointer-events: none;
}

.sidebar .nav-list {
  margin-top: 30px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 3px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  display: none;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  display: block;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: black;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #fff;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 51%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: white;
  color: black;
}
.sidebar.open .bx-search:hover {
  background: white;
  color: #FFF;
}
.sidebar .bx-search:hover {
  background: #FFF;
  color: #1eb49f;
}
.sidebar li{
    border-radius: 12px;
}
.sidebar li a {
  color: #959595;
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: none;
}
.sidebar li a:hover {
  /*background: #FFF; */
}

.blogmenu li{
  text-align: left;
}

.sidebar .blogmenu .fa-people-group{
  display: none;
}
.sidebar.open .blogmenu .fa-people-group{
  display: block;
  font-size: 15px;
}

.sidebar .blogmenu .fa-github{
  display: none;
}
.sidebar.open .blogmenu .fa-github{
  display: block;
}
.sidebar li    .links_name {
  color: #1B1B1B;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  display: block;
  pointer-events: auto;
}
.sidebar li a:hover .links_name, .sidebar li a:hover i , .sidebar li {
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i {
  height: 49px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}


.sidebar .blognickname i {
  line-height: 24px;
  font-size: 16px;
  height: 24px;
  min-width: 24px;
}


.sidebar li.profile {
  position: fixed;
  height: 80px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  right: 0px;
    position: absolute;
    height: 17px;
    width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: white;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
.in_header {
  height: 100px;
}

#aisdeLeft {
  display: block;
  flex-grow: 0;
  border: 1px solid red;
  min-width: 250px;
}

#section {
  padding: 20px;
  flex-grow: 1;
  border: 1px solid blue;
  width:1100px;
  min-height: 1500px;
}

#aisdeRight {
  flex-grow: 0;
  border: 1px solid yellow;
  min-width: 250px;
}

#article {
  flex-grow: 1;
}

.in_index {
  display: flex;
}

.asd {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal_content {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  width: 500px;
  position: relative;
  text-align: center;
}

.hidden {
  display: none;
}

#nickname {
  margin-top: 100px;
  text-align: center;
}

#user-name {
  margin: 0 auto;
  width: 350px;
  height: 35px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  text-indent: 10px;
  margin-left: 16px;
}

.weare {
  position: relative;
  text-align: left;
}

.in_write {
  width: 350px;
  height: 350px;
  resize: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  margin-left: 5px;
}

p {
  display: inline-flex;
}

#post1, #post2, #post3 {
  border: 1px solid black;
  margin: 0 40px;
  text-align: left;
  margin-top: 50px;
}

body, #write_btn, #cancel_btn {
  text-align: center;
}

.in_header .btn_search {
  right: 50px;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  background: none;
  color: #000;
  cursor: pointer;
  outline: none;
}
.in_header .btn_search .icon-search {
  right: 0px;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: -31px;
  position: relative;
}
#write_botton {
  width: 30px;
  height: 30px;
}
.area_search {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: white;
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
  border: 1px solid #1eb49f;
  right: 0px;
}
.area_search.active {
  width: 400px;
}
.area_search .icon {
  position: absolute;
  left: 19px;
  top: 54%;
  transform: translate(-50%, -50%);
}
.area_search .icon .search {
  font-size: 21px;
  cursor: pointer;
  color: black;
}
.area_search .input {
  position: relative;
  width: 300px;
  height: 40px;
  left: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area_search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 18px;
  /*
  outline: none; 넣을지 말지 고민중
  */
  padding: 0;
}
.area_search .input .clear {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.nav-list li {
  line-height: 35px;
}
.nav-list li a .first {
  color: #494949;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transform: 0.4s;
  display: none;
}

.nav-list li a .first.rotate {
  transform: translateY(-50%) rotate(-90deg);
  color: white;
  position: relative;
  top: 8px;
  left: 77px;
  display: block;
}
.nav-list .cate-show, .nav-list .neig-show.show {
  padding-left: 15px;
}
.nav-list li .cate-show.show, .nav-list li .neig-show.show {
  display: block;
}
.nav-list li ul {
  position: static;
  display: none;
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

#main .profile ul li, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.categori {
  margin: 5px 0px;
}

.link_title {
  display: block;
}

.list .pic img {
  width: 200px;
  height: 200px;
  margin-right: 12px;
}
.list .big_content {
  display: flex;
}

#nbh {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nbh li {
  display: inline-flex;
  padding: 8px 16px;
  height: 80px;
  width: 80px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
#nbh li:last-child {
  border-bottom: none;
}

#back-btn {
  border-radius: 100px;
  width: 40px;
  /* 버튼 너비 */
  height: 40px;
  /* 버튼 높이 */
  cursor: pointer;
  /* 버튼 커서 모양 변경 */
  position: absolute;
  right :0px;
  border: 0px;

}
#back-btn img{
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.home-section #main .in_header .logup{
  display: none;
}
.home-section #main .in_header .logup.show{
  position: absolute;
   right: 0px;
   display: block;
   top: 80px;
   border: 1px solid black;
}

.home-section #main .in_header .inner_write{
  border-bottom: 1px solid black;
}
.home-section #main .in_header .logup{
  display: none;
}
.home-section #main .in_header .logup.show{
  position: absolute;
   right: 0px;
   display: block;
   top: 80px;
   border: 1px solid black;
}